[submodule "color-button"]
	path = color-button
	url = git@github.com:rgranvilla/JestCourse.git
[submodule "color-button-jest"]
	path = color-button-jest
	url = git@github.com:rgranvilla/color-button-jest.git
[submodule "sundaes-on-demand-jest"]
	path = sundaes-on-demand-jest
	url = git@github.com:rgranvilla/sundaes-on-demand-jest.git
